@import url('sorting_hat/style.css');
@import url('home/style.css');
@import url('index/style.css');
@import url('game/style.css');


// Importing Google Fonts

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Harry Potter font family import
@import url('http://fonts.cdnfonts.com/css/harry-potter');

* {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
}

body {
  font-family: "Harry Potter", sans-serif;
}

.primaryButton {
  color: white;
  background-color: rgb(60, 60, 255);
  border: none;
  padding: 0.8em;
  border-radius: 4px;
  font-family: inherit;

  box-shadow: 2px 4px 18px rgba(60, 60, 255, 0.400);
}

.primaryButton:hover {
  filter: brightness(95%);
  box-shadow: none;
}

a {
  text-decoration: none;
}