
div.main-container {
  text-align: center;
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  color: #f1f1f1;
  width: 100%;
}

div.main-container > h1 {
  font-size: 72px;
  font-family: 'Harry Potter',
  sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

$colors: (fill: #a972cb,
  pulse: #ef6eae,
  close: #ff7f82,
  raise: #ffa260,
  up: #e4cb58,
  slide: #8fc866,
  offset: teal);

@each $button,
$color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

.offset {
  box-shadow:
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }

  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;

  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}